.background-image {
    display: flex;
    align-items: center;
    padding: 0px 50px;
}
h1 {
    display: flex;
    justify-content: center;
    font-family: 'face';
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'jmh';
    }



header img {
    width: 1500px;
    height: 300px
}

.logodocentro {
    text-align: center;
    display: flex;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

nav a:hover {
color:rgb(68, 255, 0)
}

.container {
    padding: 0px 50px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
}

footer a:hover {
    color: rgb(68, 255, 0);
}