.background-image {
    display: flex;
    align-items: center;
    padding: 0px 50px;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'face';
}
body{
    background-color: rgb(0, 0, 0);
    color:black;
    font-family: 'jmh';
    }
footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    
    
}

footer a {
    margin: 20px;
    text-decoration: none;
    color:black;
}

footer a:hover {
    color: rgb(68, 255, 0);
}
